@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Plus Jakarta Sans;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

main p {
  text-align: left;
  color: #83869a;
}

.max-skill-left p {
  color: #83869a;
}

nav {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
  width: 80%;
}

.btn-1 {
  background-color: #13183f;
  color: #fff;
  border-radius: 20px;
  padding: 0.8em 1.2em;
  border: none;
  cursor: pointer;
}

.nav-bar button:hover {
  background-color: #83869a;
}

span {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80vh;
}

.max-skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  /* height: 80vh; */
  position: relative;
}

.max-skill-left {
  padding: 2em;
  width: 50%;
}

.max-skill-left h3,
p,
button {
  margin: 1rem;
}

.max-skill-left h3 {
  font-size: 50px;
  color: #13183f;
  font-family: Plus Jakarta Sans;
}

.max-skill-left button {
  background-image: linear-gradient(#f02aa6, #ff6f48);
  border: none;
  color: #fff;
  border-radius: 20px;
  padding: 0.8em 1.2em;
  cursor: pointer;
}

.max-skill-left button:hover {
  background-image: linear-gradient(#ffa7c3, rgba(255, 111, 72, 0.5));
}

.max-skill-right {
  width: 246px;
  height: 138px;
  width: 80%;
  height: 70vh;
  background-image: url(./asset/image-hero-desktop@2x.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  position: absolute;
  top: -24%;
  left: 60%;
}

/* Main */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  background: linear-gradient(#ffffff, #e7e6e6);
}

.main-cont {
  width: 80%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cards {
  background-image: linear-gradient(#f02aa6, #ff6f48);
  border-radius: 0.5rem;
  color: #fff;
  display: flex;
  align-items: flex-start;
  font-size: 32px;
  padding: 2rem;
}

.card-row {
  display: flex;
  margin: 2rem;
}

.top,
.down {
  width: 33.3%;
  margin: 2rem;
}

.secondCards {
  background-color: #fff;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: baseline;
  padding: 2rem;
}

.mgs,
.start {
  margin: 0;
}

.title{
  font-weight: bold;
  color: #13183F;
}

.secondCards h4 {
  color: #13183f;
  font-weight: bolder;
}

.secondCards p {
  font-size: 1.2rem;
}

.secondCards .start {
  padding: 0.5rem;
  color: #f74780;
  cursor: pointer;
}

.secondCards .start:hover {
  color: #ffa7c3;
}

.all-cards {
  width: 33.3%;
  height: 300px;
  flex: 1 1 30%;
  margin: 2rem 0.5em;
}

.secondCards img {
  z-index: 1;
  margin-top: -4rem;
}

/* Footer */
footer {
  background: #13183f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

footer > div {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer img {
  height: 29px;
  width: 112px;
}

footer button {
  background-image: linear-gradient(#f02aa6, #ff6f48);
  border: none;
  border-radius: 20px;
  padding: 0.8em 1.2em;
  color: #fff;
  cursor: pointer;
}

footer button:hover {
  background-image: linear-gradient(#ffa7c3, rgba(255, 111, 72, 0.5));
}

/* Responsiveness */
/* Tablet View */

@media screen and (min-width: 481px) and (max-width: 899px) {
  nav {
    width: 100%;
    height: 10vh;
  }

  .nav-bar {
    width: 80%;
  }

  span {
    height: 70vh;
    width: 100%;
  }
  .max-skill {
    width: 80%;
    position: relative;
  }

  .max-skill-left {
    width: 57%;
    padding: 0;
    margin-bottom: 0;
  }

  .max-skill-left h3 {
    font-size: 2em;
  }

  .max-skill-left p {
    font-size: 0.8em;
  }

  .max-skill-right {
    position: absolute;
    width: 120%;
    height: 140%;
    background-image: url(./asset/image-hero-tablet@2x.png);
    background-size: contain;
    z-index: 1;
    left: 55%;
    top: -35%;
  }

  /*Main  */

  main {
    height: auto;
  }

  .secondCards img {
    z-index: 1;
    margin-top: -4rem;
  }

  .main-cont {
    width: 80%;
  }

  .all-cards {
    flex: 1 1 33%;
    margin: 2rem 5px;
    padding: 2em;
    height: 210px;
  }

  .secondCards p {
    font-size: 0.8em;
  }

  .cards {
    display: flex;
    justify-content: flex-start;
    font-size: 1.5rem;
  }
}

/* Tablets (landscape) and small laptops */
@media (min-width: 900px) and (max-width: 1199px) {
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
  }

  nav {
    width: 100%;
    height: 10vh;

    display: flex;
    justify-content: center;
  }

  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    width: 80%;
  }

  span {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60vh;
  }

  .max-skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 0 rem;
    position: relative;
  }

  .max-skill-left {
    width: 50%;
  }

  .max-skill-left h3,
  p,
  button {
    margin: 1rem 0rem;
  }

  .max-skill-left h3 {
    font-size: 2.3em;
    color: #13183f;
    font-family: Plus Jakarta Sans;
  }

  .max-skill-left button {
    background-image: linear-gradient(#f02aa6, #ff6f48);
    border: none;
    color: #fff;
    border-radius: 20px;
    padding: 0.8em 1.2em;
    cursor: pointer;
  }

  .max-skill-left button:hover {
    background-image: linear-gradient(#ffa7c3, rgba(255, 111, 72, 0.5));
  }

  .max-skill-right {
  
    width: 100%;
    height: 140%;
    background-image: url(./asset/image-hero-desktop@2x.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    z-index: 1;
    position: absolute;
    top: -40%;
    left: 60%;
  }

  /* Main */

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }

  .main-cont {
    margin-bottom: 0;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .all-cards {
    width: 50.3%;
    height: 350px;
  }
  .cards {
    padding: 3rem 0.5rem 0.5rem;
  }
}

/* Mobile View */
@media screen and (max-width: 480px) {
  nav {
    width: 100%;
    height: 10vh;
    margin-bottom: 2rem;
  }
  .nav-bar {
    width: 100%;
    padding: 0 2rem ;
    
  }

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

  }

  .max-skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 0;
    position: absolute;
  }

  .max-skill-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 95%;
    padding: 0;
  }

  .max-skill-left h3 {
    font-size: 3.1rem;
  }

  .max-skill-left p{
    line-height: 1.5rem;
    word-wrap: break-word;
    font-size: 1rem;
  }

  .max-skill-right {
   display: flex;
   justify-content: center;
   align-items: center;
    align-content: center;
    height: 50vh;
    background-image: url(./asset/image-hero-mobile@2x.png);
    background-size: contain;
    top: 0;
    left: 0;
    margin: auto auto;
    position: relative;
  }

  /* Main */

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-top: 0;
  }

  .main-cont {
    margin-bottom: 2rem;
    width: 100%;
  }

  .all-cards {
    width: 90%;
    height: 180px;
    flex: none;
    margin: 2rem 5px;
  }

  .cards {
    background-image: linear-gradient(#f02aa6, #ff6f48);
    border-radius: 0.5rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 1em;
    padding: 2rem;
    width: 90%;
    height: 1%;
  }

  .cards h4{
    font-size: 2rem;
  }

  .secondCards p:nth-child(2), :last-child{
    font-size: 11px;
    text-align: left;
  }

  footer > div {
    padding: 1.5rem;
    width: 100%;
  }


}

/* Laptops and desktops */

@media screen and (min-width: 1200px) {
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
  }

  nav {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
  }

  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3em 2rem;
    width: 80%;
  }

  span {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70vh;
  }

  .max-skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 2rem;
    /* position: relative; */
  }

  .max-skill-left {
    padding: 0em;
    width: 50%;
  }

  .max-skill-left h3,
  p,
  button {
    margin: 1rem 0rem;
  }

  .max-skill-left h3 {
    font-size: 50px;
    color: #13183f;
    font-family: Plus Jakarta Sans;
  }

  .max-skill-left button {
    background-image: linear-gradient(#f02aa6, #ff6f48);
    border: none;
    color: #fff;
    border-radius: 20px;
    padding: 0.8em 1.2em;
    cursor: pointer;
  }

  .max-skill-left button:hover {
    background-image: linear-gradient(#ffa7c3, rgba(255, 111, 72, 0.5));
  }

  .max-skill-right {
    width: 100%;
    height: 140%;
    background-image: url(./asset/image-hero-desktop@2x.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    z-index: 1;
    position: absolute;
    top: -35%;
    left: 65%;
  }

  /* Main */

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
   
  }

  .main-cont {
    margin-bottom: 0;
    max-width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
  }
}
